/*Animation Pour Enrollement des jeunes*/ 
/*@keyframes animationBackground {
  0% {background-color: black;}
  5%{background-color: black;}
  10%{background-color: black;}
  15%{background-color: white;}
  20%{background-color: white;}
  25%{background-color: white;}
  30% {background-color: black;}
  35%{background-color: black;}
  40%{background-color: black;}
  45%{background-color: black;}
  /*L'image subliminal pour enroller nos jeune */
  /*50% {background-image: url(/Asset/img/JETEVEUX-modified.jpg);}
  55% {background-color: black;}
  60%{background-color: black;}
  65%{background-color: black;}
  70%{background-color: black;}
  75%{background-color:  white;}
  80%{background-color:  white;}
  85%{background-color:  white;}

}*/
 /*Animation qui fait saigner des yeux après 1 heures de travaille*/ 
@keyframes animationBackground {
    0% { background-color: #ff000093; }
    25% { background-color: #00ff0080; }
    50% { background-color: #0000ff9c; }
    75% {background-color: #00ff0080; }
    100%{background-color: #ff000093; }
    
  }

  /*Animation Du titre Le pendu*/
  @keyframes lePenduEnjoyIt{
    0% { transform: skewY(0deg);}
    10% { transform: skewY(-10deg);}
    20% { transform: skewY(0deg);}
    30% { transform: skewY(10deg);}
    40% { transform: skewY(0deg);}
    50% { transform: skewY(-10deg);}
    60% { transform: skewY(0deg);}
    70% { transform: skewY(10deg);}
    80% { transform: skewY(0deg);}
    90% { transform: skewY(-10deg);}
    100% { transform: skewY(0deg);}
    
    
  }
  

  
  #imageSurprise{
    display:none;
    z-index: 2;
    height: 150%;
    width: 100%;
  }
 


 
  
  .imgContainer{
    display: flex;
    justify-content: flex-end;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
   
  }
  /* La Modal (arrière-plan) */
.dialogue {
  /*display: none; */
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 250px;
  width:50%;
  height: 60%;
  overflow: none; 
  background-color: rgba(93, 188, 251, 0.5) ;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
      animation: animationBackground 8s ease-in-out infinite;
      
    color: white;
    text-align: center;
    height: 100%;
    font-size: 18px;
    margin: 0;
  }
  #Titre{
    
    height: 100px;
    animation:lePenduEnjoyIt 10s infinite;
  }

  
  .wrappper {
    width: 100%;
    margin: 0 auto;
  }
  
  canvas {
    color: white;
    border: white dashed 2px;
    padding: 15px;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
  }
  h1 {
    font-size: 2.6em;
  }
  
  h2 {
    font-size: 1.2em;
  }
  
  p {
    font-size: 1.2em;
  }
  
  Button {
    background: #c1d72e;
    border-radius: 5px;
    border: solid 1px white;
    color: white;
    width: 35px;
    height: 35px;
    margin: 0 10px 10px 0;
    outline: none;
  }
  Button:hover {
    transition: 0.5s;
    background: white;
    border: solid 1px white;
    color: #c1d72e;
  }
  
  .selected {
    background: white;
    border: solid 1px white;
    color: #c1d72e;
  }
  
  .btn-2 {
    border-radius: 10px;
    background: #c1d72e;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 10px;
    width: 180px;
    height: 50px;
    margin: 0 10px 10px 0;
  
    outline: none;
  }
  .btn-2:hover {
    transition: 0.5s;
    background: white;
    border: solid 1px white;
    color: #c1d72e;
  }
  ::backdrop{
    background-color: rgba(93, 188, 251, 0.5);
  }