:root{
  --Couleur-Backdrop:rgba(93, 188, 251, 0.5);
  --Couleur--Fond1: rgb(133, 25, 2);
  --Couleur--Fond2: rgb(5, 124, 9);
  --Couleur--Fond3: rgb(5, 61, 124);
  --Couleur--principal:rgb(74, 5, 124);
}









/*Animation Pour Enrollement des jeunes*/ 
/*@keyframes animationBackground {
  0% {background-color: black;}
  5%{background-color: black;}
  10%{background-color: black;}
  15%{background-color: white;}
  20%{background-color: white;}
  25%{background-color: white;}
  30% {background-color: black;}
  35%{background-color: black;}
  40%{background-color: black;}
  45%{background-color: black;}
  /*L'image subliminal pour enroller nos jeune */
  /*50% {background-image: url(/Asset/img/JETEVEUX-modified.jpg);}
  55% {background-color: black;}
  60%{background-color: black;}
  65%{background-color: black;}
  70%{background-color: black;}
  75%{background-color:  white;}
  80%{background-color:  white;}
  85%{background-color:  white;}

}*/
 /*Animation qui fait saigner des yeux après 1 heures de travaille*/ 
 /*Un peu de compasion pour la personne qui à quand même a peu prêt travaillé 14 heures avec ce fond la*/
@keyframes animationBackground {
    0% { background-color: var(--Couleur--Fond1); }
    25% { background-color: var(--Couleur--Fond2); }
    50% { background-color: var(--Couleur--Fond3); }
    75% {background-color: var(--Couleur--Fond2); }
    100%{background-color: var(--Couleur--Fond1); }
    
  }

  /*Animation Du titre Le pendu*/
  @keyframes lePenduEnjoyIt{
    0% { transform: skewY(0deg);}
    10% { transform: skewY(-10deg);}
    20% { transform: skewY(0deg);}
    30% { transform: skewY(10deg);}
    40% { transform: skewY(0deg);}
    50% { transform: skewY(-10deg);}
    60% { transform: skewY(0deg);}
    70% { transform: skewY(10deg);}
    80% { transform: skewY(0deg);}
    90% { transform: skewY(-10deg);}
    100% { transform: skewY(0deg);}
    
    
  }
 #border{
  
  border-bottom: var(--Couleur-Backdrop) solid 2px;
  border-width: 10%;
  display: inline;
  width: 80%;
  letter-spacing: -1px;
  
  
 } 
.typo{
  font-family:'Times New Roman', Times, serif;
  left: 5%;
}

  
  #imageSurprise{
    position: absolute;
    display:none;
    z-index: 1;
    height: 150%;
    width: 100%;
    object-fit: cover;
  }
 
  .imgContainer{
    display: flex;
    justify-content: flex-end;
  }

  #BouttonFermerDialogue{
    font-size: larger;
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 45%;
    height: 50px;
    cursor: pointer;
    padding: 2%;
    margin: 3%;
  }
  .container{
    width: 25%;
    height: 75%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    margin: 4%;
   
  }
#container2{
  display:flex;
}
#bouton{
  display:flex;
  height: 22%;
  flex-direction: column;
  align-items: center;
  
}
dialog {
  border-color: var(--Couleur-Backdrop) ;
  position: fixed; 
  z-index: 1; 
  width:50%;
  height: 80%;
  border-radius: 15px;
  padding: 3%;
  overflow: hidden; 
  border: solid 2px;
  flex-direction: column;
  background-color: white;
  align-items: center;
}
#parent-container{
  height: 52%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  text-align: center;
  flex-wrap: wrap;
  text-align: center;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
      animation: animationBackground 15s ease-in-out infinite;
    color: white;
    text-align: center;
    height: 100%;
    font-size: 18px;
    margin: 0;
  }
  #Titre{
    font-size: 5rem;
    margin: 10%;
    height: 100px;
    animation:lePenduEnjoyIt 10s infinite;
  }

  #principal{
    margin: 5%;
  }
  .wrappper {
    width: 100%;
    margin: 0 auto;
  }
  
  canvas {
    color: white;
    border: white dashed 2px;
    padding: 15px;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
  }
  h1 {
    font-size: 2.6em;
  }
  
  h2 {
    font-size: 1.2em;
  }
  
  p {
    font-size: 1.2em;
  }
  .container-bouton{
    margin: 5%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
  }
  Button {
    margin: 3%;
    background: var(--Couleur--principal);
    border-radius: 5px;
    border: solid 1px white;
    color: white;
    width: 35px;
    height: 35px;
    margin: 0 10px 10px 0;
    outline: none;
  }
  Button:hover {
    transition: 0.5s;
    background: white;
    border: solid 1px white;
    color: #c1d72e;
  }
  
  .selected {
    background: white;
    border: solid 1px white;
    color: #c1d72e;
  }
  
  .btn-2 {
    border-radius: 10px;
    background: var(--Couleur--principal);
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 10px;
    width: 180px;
    height: 50px;
    margin: 0 10px 10px 0;
  
    outline: none;
  }
  .btn-2:hover {
    transition: 0.5s;
    background: white;
    border: solid 1px white;
    color: #c1d72e;
  }
  dialog::backdrop{
    background-color: var(--Couleur-Backdrop);
  }